html, body {
    background-image: url("../images/background.png");
    background-attachment: fixed;

}

.img1 {
    display: none;
}


/* #indexPic {
    height: 100%;
} */

#indexBanner {
    font-family: Cinzel;
    height: 100vh;
    background-image: url("../images/taylor.jpg");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;

}

.btn-primary {
    background-color: transparent;
    border-color: white;
    color: white;
    font-family: Cinzel;
}

h1 {
    font-size: 285%;
    color: white;
    font-family: Cinzel;
}

#name1 {
    margin-left: 52vw;
    margin-top: 28vh;
    color: white;
    text-align: center;
    width: 40vw;
    margin-right: 0;
}

#forwardBtn {
    
    text-align: center;
    font-family: Cinzel;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin-top: 6%;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 2%;
    font-size: 134%;
}

a:link {text-decoration: none; color: white;}

.nav-link {

    text-decoration: none; color: white;
    padding-right: 10%;

}

.nav-link:hover {
    color: rgb(255, 0, 191);


}

.navbar-toggler {

    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: aqua;
}

#pawBtn {
    background-image: url("../images/cursorpaw.png");
    background-repeat: no-repeat;
    background-color: none;
    width: 4vw;
    height: 4vh;

}

#paw {

    width: 7vh;
    bottom: 0;
    background-size: 100%;
    width: 100%;
}

#paw:hover {

    background-image: url("../images/pinkpaw.png");
    cursor: pointer;

}

#arrowspng {
    margin-top: 3%;
}

.navbar {
    background-color: rgb(2, 1, 14);
    color: white;
    border-bottom: aqua;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#navBar {
    font-family: Cinzel;
    position: sticky;
    top: 0;
    z-index: 1;
}

#paw {

    margin-right: 2%;
    width: 25px;
}

hr {
    background-color: white;
    width: 90%;
}

#tag {
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: Dancing Script;
}

#jquery {
    background: url(../images/swords.png) no-repeat center center; 
    background-size: cover;
    min-height: 80vh;
}

.portRight {
    margin-left: 41vw;
    margin-top: 22vh;
    text-align: center;
}

h2 {
    
    text-align: center;
    font-family: Cinzel;
    color: white;
    font-size: 350%;
}

.modalBtnR {
    
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    font-family: Cormorant;
    color: white;
    font-size: 150%;
}

.close {

    width: 10%;
    margin-left: 33vw;
    margin-bottom: 0;
}

.modal-content {
    font-family: Cormorant;
    color: white;
    font-size: 150%;
    background-color: rgb(71, 71, 71);
    border-style: solid;
    border-color: aqua;
    text-align: center;
    border-width: 2px;

}

.modal-body {
    margin-bottom: 5%;
}


.modalBtnR:hover{
    background-color: rgb(3, 5, 119);
}

#taylorProfile {
    width: 50%;
}

#footer {
    width: 100%;
    height: 27vh;
    background-color: rgb(2, 1, 14);
    margin-top: 3%;
    color: white;
    border-top: aqua;
    border-top-style: solid;
    border-top-width: 1px;
    bottom: 0;
    
}

#contactIcons {
   margin-top: 7vh;
   text-align: center;
}

#li {

    width: 51px;
}


#gh {
  
    width: 51px;
    margin-left: 3vw;
}

#so {
 
    width: 51px;
    margin-left: 3vw;
}

#copyright {
    text-align: center;
    font-family: Cinzel;
    color: white;
    margin-top: 5vh;
}


/* Media Query for Mobile Devices */

@media only screen and (max-width: 570px) {


    
}