html, body {
    background-image: url("../images/background.png");
    background-attachment: fixed;

}

.img1 {
    display: none;
}


/* #indexPic {
    height: 100%;
} */

#indexBanner {
    font-family: Cinzel;
    height: 100vh;
    background-image: url("../images/taylor.jpg");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    /* padding-top: 9%;
    padding-bottom: 15%; */
}

.btn-primary {
    background-color: darkgreen;
    border-color: darkgreen;
    color: white;
    font-family: Cinzel;
}

h1 {
    font-size: 51px;
    color: white;
    font-family: Cinzel;
}

#name1 {
    margin-left: 8.5vw;
    margin-top: 28vh;
    color: white;
    text-align: center;
    width: 400px;
}

#forwardBtn {
    
    text-align: center;
    font-family: Cinzel;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin-top: 6%;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 2%;
    font-size: 134%;
}

a:link {text-decoration: none; color: white;}

.nav-link {

    text-decoration: none; color: white;
    padding-right: 10%;

}

.nav-link:hover {
    color: rgb(255, 0, 191);

}

#pawBtn {
    background-image: url("../images/cursorpaw.png");
    background-repeat: no-repeat;
    background-color: none;
    width: 4vw;
    height: 4vh;

}

#paw {
    margin-left: 148vh;
    width: 7vh;
    bottom: 0;
    background-size: 100%;
    width: 100%;
}

#paw:hover {

    background-image: url("../images/pinkpaw.png");

}

#arrowspng {
    margin-top: 3%;
}

#name2 {
    display: none;
    float: left;
    color: white;
    text-align: center;
    width: 400px;
}

.navbar {
    background-color: rgb(2, 1, 14);
    color: white;
    border-bottom: aqua;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#navBar {
    font-family: Cinzel;
    position: sticky;
    top: 0;
    z-index: 1;
}

hr {
    background-color: white;
}

#tag {
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: Dancing Script;
}

/* #portfolio {
    height: 91vh;
} */

.portfolio {
    /* padding-left: 1%;
    padding-right: 1%; */
    overflow: hidden;
    background-size: cover;

}

.portpics {
    width: 45.5vw;
    height: 45.5vh;
    opacity: 0;
}

#bobs {
    background-image: url("../images/bobsburgers.jpg");
    background-size: 33.3vw;
    background-repeat: no-repeat;
    transition: 0.3s;
}

#bobs:hover {
    background-image: url("../images/bobshover.jpg");
}

#toHangman {
    opacity: 0;
}

#dbz {
    background-image: url("../images/goku.jpg");
    background-size: 33.3vw;
    background-repeat: no-repeat;
    transition: 0.3s;

}

#dbz:hover {
    background-image: url("../images/gokuhover.jpg");
}

#toRPG {
    opacity: 0;
}

#dory {
    background-image: url("../images/dory.jpg");
    background-size: 33.3vw;
    background-repeat: no-repeat;
    transition: 0.3s;
}

#dory:hover {
    background-image: url("../images/doryhover.jpg");
}

#toTrivia {
    opacity: 0;
}

/* second row in portfolio */
.portfolio2 {
    margin-top: 0;
    margin-bottom: 3%;
}

#multiplayer {
    background-image: url("../images/multiplayer.png");
    background-size: 33.3vw;
    background-repeat: no-repeat;
    transition: 0.3s;
}

#multiplayer:hover {
    background-image: url("../images/multiplayerhover.jpg");
}

#toRPS {
    opacity: 0;
}

#gif {
    background-image: url("../images/tyrion.gif");
    background-repeat: no-repeat;
    transition: 0.3s;
}

#gif:hover {
    background-image: url("../images/tyrion.jpg");
}

#toAPI {
    opacity: 0;
}

#node {
    background-image: url("../images/cust.png");
    background-repeat: no-repeat;
    transition: 0.3s;
}

#node:hover {
    background-image: url("../images/custhover.png");
}

#toBamazon {
    opacity: 0;
}

/* end 2nd row of portfolio */

/* external projects */
.iframes {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin-bottom: 3%;
}


.iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
/* end external projects */

#taylorProfile {
    width: 50%;
}

#footer {
    width: 100%;
    height: 27vh;
    background-color: rgb(2, 1, 14);
    margin-top: 3%;
    color: white;
    border-top: aqua;
    border-top-style: solid;
    border-top-width: 1px;
    bottom: 0;
    
}

#contactIcons {
   margin-top: 9%;
   margin-left: 20%;
}

#li {

    width: 51px;
}

#gh {
  
    width: 51px;
    margin-left: 10%;
}

#so {
 
    width: 51px;
    margin-left: 10%;
}

#copyright {
    text-align: center;
    font-family: Cinzel;
    color: white;
    margin-top: 5vh;
}


/* Media Query for Mobile Devices */

@media only screen and (max-width: 570px) {
    
    #indexBanner {
        background-image: none;
        padding-top: 0;
    }

    #forwardBtn {

        font-size: 100%;
    }

    .img1 {
        display: block;
        float: left;
        width: 36%;
        margin-top: 3%;
        margin-right: 1%;
    }

    #name1 {
        display: none;
    }

    #name2 {
        display: block;
    }

    h1 {
        font-size: 24px;
        margin-top: 12%;
    }

    hr {
        display: none;
    }

    #tag {
        font-size: 18px;
    }
    
}